


*{
    box-sizing: border-box;
}

body{
    background-color: #EEEDEB;
    /* width: 1887px; */
}

header{
    /* width: 1887px; */
    text-align: center;
    border: 2px solid #3C0753;
    padding: 15px;
}



.navigation{
    /* background-color: red; */
    
    /* width: 1887px; */ 
    text-align: center;
    /* border: solid 2px #3C0753; */
    padding: 20px;
    
    
}

h1{
    text-transform: uppercase;
    color: #3C0753;
    font-size: 100px;
}

.navigation a{
    color: #fff;
    font-weight: bold;
    background-color: #D9A9DB;
    text-decoration: none;
    width: 33%;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    
    

}

.navigation a:hover{
    background-color: #3C0753;
}

.main{
    border: 2px solid #3C0753;
    padding: 20px 50px;
    margin-top: 10px;
    

}
/*la virgule (,) veut dire (et) dans CSS*/
.section1, .section2{
    text-align: center;
}

.section1 img{
    border-radius: 50px;
}

.section2{
   
    background-image: url(../img/maik-jonietz-_yMciiStJyY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    padding: 100px;
    color: white;
}

.section2 p{
    display: inline-block;
    border: solid 2px rgb(248, 243, 243);
    width: 30%;
    padding: 50px;
    font-weight: bold;
    background-color:black;
    margin: 0 5px 0 0;

    
}

footer{
    border: solid 2px rgb(0, 0, 0);
    margin-top: 20px;
    text-align: center;

}

footer  ul{
    display: inline-block;
    width: 30%;
    list-style: none;
    

}

footer ul li{
    margin-bottom: 20px;
}

footer ul li a{
    color: rgb(32, 159, 202);
    background-color: pink;
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

/*optimiser le html et css pour jeudi*/











