*{
    box-sizing: border-box;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: crimson;
    font-weight: bold;
}

/* main{
    margin-left: 5%;
    margin-right: 5%;
}

section{
    margin-left: 5%;
    margin-right: 5%;
} */

#conteneur{
    width: 100%;
    
}

section{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: blueviolet;
} 

.conteneurZoneUnetDeux{
    
    display: flex;
    flex-direction: column;
}

.zone-un{
    background-color: #FFE7E7;
}


.zone-deux{

    background-color: #944E63;
}

.zone-deux h1{
    text-align: center;
}

.zone-deux  {
    height: 400px;
    display: flex;
    align-items: center;
}



aside{
    background-color: #CAA6A6;
    height: 500px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}*

aside a{
    text-decoration: none;
    color:black
}


