*{
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    width: 99%;
    border: solid black 2px;
}

header{
    /* display: flex;
    flex-direction: column; */
    /* background-color:blueviolet ; */
    width: 100%;
    height: 50px;
}

header div{
    width: 100% ;
    display: flex;
}

.containerHead div div{
    display: flex;
    background-color: blue;
    width: 100%;
    justify-content: center;
}

.containerHead div:first-child{
    background-color:#5F9EA0 ;
}

.containerHead div:nth-child(2){
    background-color:#008B8B;
}

.containerHead div:last-child{
    background-color:#00CED1;
}



/* ************************fin header************************************** */


/* *****************Nav***************************************************** */


.containerHead nav{
    display: flex;
    width: 100%;
    height: 60px;
    background-color:#FFEBCD;
    justify-content: center;
    align-items: center;
    

}

.containerHead nav a{
    margin: 0 50px;
}

/* ********************fin nav******************************************** */

/* ***********************début section article 1 et 2*********************************** */
main{
    padding: 5px;
    margin-top: 70px;
    height: 300px;
    background-color: white;
}
main section{
    width: 100%;
    display: flex;
}

main section article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    height: 200px;
}

main section article:first-child{
    background-color:#A9A9A9 ;
    
}

main section article:last-child{
    background-color: #708090;
}
/* ******************Fin section article 1 et 2***************************** */
/* *********************Section 2******************************************* */
main section:last-child{
    width: 100%;
    background-color:#B0E0E6 ;
}




